html,
body {
  background-color:#D8D5C4;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

table{
  text-align: center;
}

h1{
  color: #C05E51 ;
  font-style: italic;
}

button{
  background-color: #F5C265 ;
  padding: 15px 32px;
  font-style:italic;
}

td{
  color: #F5C265;
  font-style:italic;
}

fieldset{
  background-color:  #5A6E5A;
}

legend{
  background-color: #F5C265
}